@model tiendaOnline.Models.DetalleVendedor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>DetalleVendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreComercial" class="control-label"></label>
                <input asp-for="nombreComercial" class="form-control" />
                <span asp-validation-for="nombreComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoComercial" class="control-label"></label>
                <input asp-for="correoComercial" class="form-control" />
                <span asp-validation-for="correoComercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoVendedor" class="control-label"></label>
                <select asp-for="tipoVendedor" class="form-control" asp-items="Html.GetEnumSelectList<TipoVendedor>()"></select>
                <span asp-validation-for="tipoVendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tiendaOnlineUserID" class="control-label"></label>
                <select asp-for="tiendaOnlineUserID" class ="form-control" asp-items="ViewBag.tiendaOnlineUserID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
