@page

@{
    ViewData["Title"] = "Gracias por su compra";
}

<h2>@ViewData["Title"]</h2>
<!--Vista creada sin ningun metodo en ningun controlador(es estática) sirve para informar al usuario de 
    que se ha procesado su compra-->
<div>
    <p>
        Tu orden ha sido confirmada <br />
        ¡Muchas gracias por confiar en nosotros!
    </p>
    <img height="500px" src="~/images/thx.png" />
</div>
