@page

@{
    ViewData["Title"] = "Validación de cuenta";
}

<h2>@ViewData["Title"]</h2>
<!--Vista creada sin ningun metodo en ningun controlador(es estática) sirve para informar al usuario luego de que se registra
    que debe validar su cuenta-->
<div>
    <p>
        Tu cuenta ha sido creada con éxito. Un correo de validación ha sido enviado al correo electrónico que proporcionaste.
    </p>
    <img height="500px" src="~/images/confirmation2.jpg" />
</div>
