@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Cofirmación de cuenta";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Enhorabuena. ¡Gracias por confirmar tu cuenta!
    </p>
    <img height="400px" src="~/images/confirmation.jpg" />
</div>
