@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Cofirmación de cuenta";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Enhorabuena. ¡Gracias por confirmar tu cuenta! 
        Puedes iniciar sesión <a href="./Login">aquí.</a>

     <font face=',Times New Roman, verdana' size=6 color='FF3300'>   Se te enviara un cupon de descuento por ingresar a esta gran familia!</font>
</p>
    <img height="400px" src="~/images/confirmation.jpg" />
</div>
