@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Cofirmación de cuenta";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Enhorabuena. ¡Gracias por confirmar tu cuenta! 
        Puedes iniciar sesión <a href="./Login">aquí.</a>

        Se te enviara un cupon de descuento por ingresar a esta gran familia! :B
    </p>
    <img height="400px" src="~/images/confirmation.jpg" />
</div>
