@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Cofirmación de cuenta";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        <font face=',Times New Roman, verdana' color='FF3300'>
            Enhorabuena. ¡Gracias por confirmar tu cuenta!
            Puedes iniciar sesión <a href="./Login">aquí.</a><br />
            Se te enviara un cupon de descuento por ingresar a esta gran familia!
        </font>
    </p>
    <img height="400px" src="~/images/confirmation.png" />
</div>
