@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de cuenta";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">haz click aqui para iniciar sesión</a>.
</p>
