@inject SignInManager<tiendaOnlineUser> SignInManager
@inject UserManager<tiendaOnlineUser> UserManager
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>Mi cuenta</h2>

<div>
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
        <h4>Gestion de tienda Online.</h4>
    }
    else {
        <h4>Cambia la configuración de tu cuenta.</h4>
    }
    
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
