@{
    ViewData["Title"] = "Acerca de nosotros";
}
<h2>@ViewData["Title"]</h2>

<h3>Comprometidos con nuestros clientes</h3>
<p>Una de nuestras metas es ser la tienda n°1 de ventas en línea en El Salvador, por lo cual una de nuestras prioridades
    es la satisfacción de nuestros clientes, ofreciédoles productos de la mejor calidad a los mejores precio del
    mercado nacional.</p>
<h3>Productos de alta calidad</h3>
<p>Nuestros almacenes se abastecen de los mejores productos seleccionados mediante rigurosos controles de calidad
    con nuestro Sistema de Abastecimiento de Productos de Alta Demanda.</p>
<h3>Marcas variadas</h3>
<p>Estamos en la continua búsqueda de marcas que compartan nuestro compromiso con nuestros clientes, por lo que establecemos
    asociaciones tanto con pequeños como grandes productores.</p>
