@{
    ViewData["Title"] = "Contáctanos";
}
<h2>@ViewData["Title"]</h2>
<!--h3>@ViewData["Message"]</h3-->

<address>
    Hola, bienvenido a iBuy. Si tu tienes alguna pregunta,
    siéntete libre de contactar con nuestro centro de soporte. Estaremos felices de servirte mejor<br /><br />

    iBuy Co.<br />
    San Savador, El Salvador, América Central.<br />
    <abbr title="Phone">Teléfono:</abbr>
    2225-7756
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">ibuy.soporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ibuy.marketing@example.com</a>
</address>
