@model tiendaOnline.Models.Direccion

@{
    ViewData["Title"] = "Registrar dirección";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de nueva dirección</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Departamentos</label><br/>
                <h6>Seleccione uno para poder continuar</h6>
                <select class="form-control" id="seledepa" asp-items="ViewBag.DepartamentoID"></select>

                <div class="form-group" id="sudcat" hidden="">
                    <label asp-for="MunicipioID" class="control-label">Municipio</label>
                    <select asp-for="MunicipioID" class="form-control"></select>

                    <div class="form-group">
                        <label asp-for="direccionDetallada" class="control-label"></label>
                        <input asp-for="direccionDetallada" class="form-control" />
                        <span asp-validation-for="direccionDetallada" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="codigoPostal" class="control-label"></label>
                        <input asp-for="codigoPostal" class="form-control" />
                        <span asp-validation-for="codigoPostal" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-default" />
                    </div>
                </div>
                
            </div>

            
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    var select=document.querySelector("#seledepa");
    select.addEventListener("change", (e) => {
        var idcat = e.target.value;
        var xhttp = new XMLHttpRequest();
        var token = document.querySelector("#__RequestVerificationToken");
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var selsubcat = document.querySelector("#sudcat").children[1];
                selsubcat.innerHTML = "";
                console.log(selsubcat);
                var subcats = JSON.parse(this.responseText);
                var len = subcats.length;
                var option;
                for (var i = 0; i < len; i++) {
                    option = document.createElement("option");
                    option.setAttribute("value", subcats[i].municipioID);
                    option.innerHTML = subcats[i].nombreMunicipio;
                    selsubcat.appendChild(option);
                }
                document.querySelector("#sudcat").removeAttribute("hidden");
            }
        };
        xhttp.open("POST", "/Direcciones/SubCate", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("RequestVerificationToken", token);
        xhttp.send("idcat="+idcat);
    });
    </script>
}
