@model tiendaOnline.Models.Subcategoria

@{
    ViewData["Title"] = "Eliminar subcategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar subcategoria</h2>

<h3>¿Realmente desea eliminar esta subcategoria?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreSubcategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreSubcategoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre_categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubcategoriaID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Subcategorias</a>
    </form>
</div>
