@model tiendaOnline.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartamentoID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Departamentos</a>
</div>
