@model tiendaOnline.Models.MetodoEnvio

@{
    ViewData["Title"] = "Nuevo método de envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso de métodos de envío</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreMetodoEnvio" class="control-label"></label>
                <input asp-for="nombreMetodoEnvio" class="form-control" />
                <span asp-validation-for="nombreMetodoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxDiasEnvio" class="control-label"></label>
                <input asp-for="maxDiasEnvio" class="form-control" />
                <span asp-validation-for="maxDiasEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minDiasEnvio" class="control-label"></label>
                <input asp-for="minDiasEnvio" class="form-control" />
                <span asp-validation-for="minDiasEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montoEnvio" class="control-label"></label>
                <input asp-for="montoEnvio" class="form-control" />
                <span asp-validation-for="montoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Métodos de envío</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
