@model tiendaOnline.Models.Producto


@using tiendaOnline.Data
<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Editar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

<h4>Datos principales del producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductoID" />
            <input type="hidden" asp-for="detalleVendedorID" />
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label">Nombre</label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label">Precio unitario</label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Existencia" class="control-label">Cantidad disponible</label>
                <input asp-for="Existencia" class="form-control" />
                <span asp-validation-for="Existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label">Código</label>
                <input asp-for="Codigo" readonly="readonly" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input type="file" name="Imagen" accept="images/*" /><br />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label">Categorias <br /> <h5>Seleccione una para poder continuar</h5></label>
                <select class="form-control" id="selecategoria" asp-items="ViewBag.CategoriaID"> <option>-----------------------</option></select>

            </div>

            <div class="form-group" id="sudcat" hidden="">
                <label asp-for="SubcategoriaID" class="control-label">Sub Categorias  </label>
                <select asp-for="SubcategoriaID" class="form-control"></select>
                <br />
                <div class="form-group">
                    <a class="btn btn-primary" asp-controller="DetalleProductos" asp-action="Edit" asp-route-id="@{@Model.ProductoID; }"><i class="fas fa-pen"></i> Editar detalles</a>

                    <input type="submit" value="Guardar cambios" class="btn btn-success" />
                </div>

            </div>
        </form>
    </div>

</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
        var select = document.querySelector("#selecategoria");
        select.addEventListener("change", (e) => {
            var idcat = e.target.value;
            var xhttp = new XMLHttpRequest();
            var token = document.querySelector("#__RequestVerificationToken");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var selsubcat = document.querySelector("#sudcat").children[1];
                    selsubcat.innerHTML = "";
                    console.log(selsubcat);
                    var subcats = JSON.parse(this.responseText);
                    var len = subcats.length;
                    var option;
                    for (var i = 0; i < len; i++) {
                        option = document.createElement("option");
                        option.setAttribute("value", subcats[i].subcategoriaID);
                        option.innerHTML = subcats[i].nombreSubcategoria;
                        selsubcat.appendChild(option);
                    }
                    document.querySelector("#sudcat").removeAttribute("hidden");
                }
            };
            xhttp.open("POST", "/Productos/SubCate", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.setRequestHeader("RequestVerificationToken", token);
            xhttp.send("idcat=" + idcat);
        });
        </script>
    }
