@model IEnumerable<tiendaOnline.Models.Producto>
 
@using tiendaOnline.Data

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <br />
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Nuevo </a>
</p>

<div class="row">
    <div>
        @foreach (var producto in Model)
        {
        <div class="col-md-2">
            <h4 class="productBox"><a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a></h4>
            <h5>$@Html.DisplayFor(modelItem => producto.PrecioUnitario)</h5>

            
            <a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">
                <img class="zoom" height=180px width=180px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
            </a>
            <p></p>

            <a class="btn btn-warning" title="Edita detalles importantes del producto!" asp-controller="Productos" asp-action="Edit" asp-route-id="@producto.ProductoID"><i class="fas fa-pen"></i> Editar Producto</a>
           
        </div>
        }
    </div>
</div>