@model IEnumerable<tiendaOnline.Models.Producto>
 
@using tiendaOnline.Data

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<p>
    <br />
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Nuevo Producto </a>      <a class="btn btn-primary" asp-action="Index" asp-controller="Descuentos"><i class="fas fa-edit"></i> Gestionar descuentos </a>
</p>

<div class="row">
    <div>
        @foreach (var producto in Model)
        {
        <div class="col-md-2">
            <br />
            <center><a style="color:teal;" asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a></center>
            <a asp-controller="DetalleProductos" asp-action="DetailsVendedor" asp-route-id="@producto.ProductoID">
                <img class="zoom" height=180px width=180px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
            </a>
            @*variables para el descuento*@
            @{ var desc = false; var precios = 0.0; }

            @*aplicando el descuento*@
            @foreach (var precio in _context.Descuento)
            {
                if (precio.ProductoID == producto.ProductoID && precio.EstaActivo == true)
                {
                    desc = true;
                    precios = precio.PrecioConDesc;
                }


            }
            @if (desc == false)
            {
                precios = producto.PrecioUnitario;
                <h4>&nbsp;</h4>
            }

            @if (desc)
            {
                <h5 style="text-decoration:line-through">  $@(producto.PrecioUnitario)</h5>

            }
            $@precios  <br />
<a class="btn btn-primary" title="Edita detalles importantes del producto!" asp-controller="Productos" asp-action="Edit" asp-route-id="@producto.ProductoID"><i class="fas fa-pen"></i> Editar Producto</a>

            <br /><br />

        </div>
        }
    </div>
</div>