@model tiendaOnline.Models.TipoDeDescuento

@{
    ViewData["Title"] = "Editar descuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar descuento</h2>

<h4>Detalles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipoDeDescuentoID" />
            <div class="form-group">
                <label asp-for="nombreDelDescuento" class="control-label"></label>
                <input asp-for="nombreDelDescuento" class="form-control" />
                <span asp-validation-for="nombreDelDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montoDeDescuento" class="control-label"></label>
                <input asp-for="montoDeDescuento" class="form-control" />
                <span asp-validation-for="montoDeDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="porcentajeDeDescuento" class="control-label"></label>
                <input asp-for="porcentajeDeDescuento" class="form-control" />
                <span asp-validation-for="porcentajeDeDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoID" class="control-label"></label>
                <select asp-for="ProductoID" class="form-control" asp-items="ViewBag.ProductoID"></select>
                <span asp-validation-for="ProductoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"> Cancelar</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
