@model Producto
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="data:image/gif;base64,@Model.ImgProducto" alt=""/>
    </div>
    <div class="caption">
        <h3 class="pull-right">@Model.Preciounitario</h3>
        <h3>
            <a asp-controller="Producto" asp-action="Detalle"> Nombre: @Model.NombreProducto</a>
        </h3>
        <p>Vendedor: @Model.IdVendedor</p>
    </div>
    <div class="agregarCarrito text-right">
        <p class="button">
            <a class="btn btn-success" id="cartButton"
               asp-controller="Carrito" 
               asp-action="AgregarCarrito"
               asp-route-idProducto="@Model.IdProducto">
                Añadir al carrito
            </a>
        </p>

    </div>
</div>